# Ignore documents
*.doc*
*.xls*
*.ppt*
*.pdf
*.od*

# Ignore images
*.png
*.tif*
*.jp*g
*.gif

# Ignore qm files
*.qm*
*.CAB

# Ignore RStudio project files
.Rproj.user
.Rhistory

# Ignore output files
*.md
*.html

# Ignore files marked as temporary
*temp*
